.search {
  align-items: center;
  max-width: fit-content;
  position: relative;
}
.text_bar {
  width: 600px;
  border: none;
  border-radius: 25px;
  padding: 0.5rem;
  text-align: center;
  border-color: rgb(244, 244, 251);
  border-style: solid;
}
.button_search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  font-size: 1rem;
  color: rgb(246, 111, 27);
}

@media only screen and (max-width: 640px) {
  .search {
    align-items: center;
  }

  .text_bar {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    padding-left: 3rem;
    border-color: rgb(244, 244, 251);
    border-style: solid;
  }
  .button_search {
    border-radius: 0 30px 30px 0;
    height: 20px;
    width: 70px;
    margin-left: 0rem;
    font-size: 16px;
    color: rgb(246, 111, 27);
  }
}
