/* Hide scrollbar for Chrome, Safari and Opera */
#chartBox::-webkit-scrollbar {
  display: none;
  /*   scrollbar-width: thin; */
}

/* Hide scrollbar for IE, Edge and Firefox */
#chartBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*Overal css of navbar*/

* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}
.Navbar {
  background-color: #e2e2f2;
  height: 100vh;
  position: absolute;
  transition: 0.5s;
  overflow: hidden;
  width: 5rem;
  /*left:-30%;*/
  left: 0;
}
.Navbar:hover {
  width: 21rem;
  transition: all 0.5s ease;
}
.logobar {
  display: flex;
}
.logoname {
  column-gap: 2rem;
  position: absolute;
  top: 1.7rem;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 6rem;
  color: rgb(255, 128, 0);
  /* font-weight: 600;
  text-shadow: 0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 20px #ffa500,
    0 0 20px #ffa500, 0 0 20px #ffa500; */
}
.logo {
  height: 2.3rem;
  width: 2.3rem;
  position: absolute;
  top: 1.5rem;
  margin-left: 1.4rem;
  transition: transform 0.7s ease-in-out;
}

.logo:hover {
  /*transform: scale(1.1);*/
  transform: rotate(360deg);
}

.Menubar {
  width: 19.5rem;
  height: 100%;
  margin-top: 7rem;
  margin-left: 1rem;
}
.Menubarlist {
  height: auto;
  width: 100%;
}
.menulist {
  column-gap: 2rem;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.menulist:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: rgb(255, 128, 0);
  background: rgba(209, 209, 225, 0.952);

  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.menulist #icons {
  flex: 20%;
  display: grid;
  place-items: center;
}
.menulist #titles {
  flex: 80%;
}
.menuname {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 6%;
  margin-left: 0rem;
}
.gname {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 6%;
  margin-left: 0rem;
}
.General {
  width: 19.5rem;
  height: 100%;
  margin-top: 3rem;
  margin-left: 1rem;
}
.generalist {
  height: auto;

  width: 100%;
}
.glist {
  column-gap: 2rem;
  width: 100%;
  height: 3rem;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.glist:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: rgb(255, 128, 0);

  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgba(209, 209, 225, 0.952);
}
.glist #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.glist #title {
  flex: 80%;
}

@media only screen and (max-width: 640px) {
  .logoname,
  #titles,
  #title,
  .logo {
    display: none;
  }

  .Navbar {
    background-color: rgb(226, 226, 242);
    width: 100%;
    /*left:-30%;*/
    height: 4rem;
    position: fixed;
    bottom: 0;
  }
  .menuflex {
    position: absolute;
    top: 0.5rem;
    justify-content: space-around;
    width: 100%;
    display: flex;
  }

  .Menubar {
    margin-left: 0;
  }

  #icons:hover {
    cursor: pointer;
    transform: scale(1.4);
    color: rgb(255, 128, 0);

    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  .Navbar:hover {
    width: 100%;
    transition: all 0.5s ease;
  }
}
@media only screen and (max-width: 1023px) {
  .logoname,
  #titles,
  #title,
  .logo {
    display: none;
  }

  .Navbar {
    background-color: rgb(226, 226, 242);
    width: 100%;
    /*left:-30%;*/
    height: 4rem;
    position: fixed;
    bottom: 0;
  }
  .menuflex {
    position: absolute;
    top: 0.5rem;
    justify-content: space-around;
    width: 100%;
    display: flex;
  }

  .Menubar {
    margin-left: 0;
  }

  #icons:hover {
    cursor: pointer;
    transform: scale(1.4);
    color: rgb(255, 128, 0);

    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  .Navbar:hover {
    width: 100%;
    transition: all 0.5s ease;
  }
}
