@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@layer base {
    body {
        font-family: "Roboto", sans-serif;
      }
  h1 {
    @apply text-4xl font-semibold;

  }
  h2 {
    @apply text-xl;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */



.Navbar{
    background-color: rgb(224, 223, 239);
    
      width:21rem;
      height:100%;
        
      
}
body{
    background-color: white;
    
}
.logoname{
    margin-left: 6rem;
    position: absolute;
    top:2.5rem;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color: rgb(240, 128, 7);
}
.logo{
  
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    top:2.3rem;
    margin-left:2.4rem;
    transition: transform .7s ease-in-out;
    
}
.logo:hover{
    /*transform: scale(1.1);*/
    transform: rotate(360deg);
}

.Menubar{
   
      width:21rem;
      height:100%;
      margin-top: 7rem;
      margin-left: 1rem;
      
    }  
.Menubarlist{
    height: auto;
    width: 100%;
}
.menulist{
    width: 100%;
    height: 3rem;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
}
.menulist:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(220, 143, 0);
}
.menulist #icons{
flex:20%;
display:grid;
place-items: center;
}
.menulist #titles{
    flex:80%;
    }
.menuname{
    font-size: 1.0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 6%;
}
.gname{
    font-size: 1.0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 6%;
}
    .General{
   
        
           width:21rem;
           height:100%;
           margin-top: 3rem;
           margin-left: 1rem;
         }  
     .generalist{
         height: auto;
        
         width: 100%;
     }
     .glist{
         width: 100%;
         height: 3rem;
         margin: 0%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         font-size: 1.0rem;

        
         
     }
     .glist:hover{
         cursor: pointer;
         transform: scale(1.05);
         color: rgb(220, 143, 0);
     }
     .glist #icon{
     flex:20%;
     display:grid;
     place-items: center;
     }
    .glist #title{
         flex:80%;
         }
         .footer{
          position: relative;
          bottom: 0rem;
         }
 
    .fname{
        margin-left: 9%;
        margin-top: 2.5rem;
        font-size: 1.0rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
     .flogo{
        margin-left:1rem;
        width: 9rem;
        height: 8rem;
        position: relative;
        bottom: 4rem;
        
     } 
     .flogo1{
        margin-left:8.5rem;
        width: 12rem;
        height: 10rem;
        position: relative;
        bottom: 13rem;
        
     }
     .fpara{
        margin-left: 1.5rem;
        font-size: 0.9rem;
        position: relative;
        bottom: 16rem;
        
    }
     /*
     .flogo1{
        
        float: left;
        margin-bottom: 40rem;
        margin-left: 45%;
        position: relative;
        bottom: 0rem;
        left: 0rem;
        width: 16rem;
        height: 16rem;
        top:55.5rem;
        
     }
     .fname{
        float: left;
        margin-left:0rem;
        bottom: 0rem;
        left: 0rem;
        position:relative;
        top:68rem;
        font-size: 1.6rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p{
        margin-left: 6%;
        bottom:0rem;
        margin-bottom: 4.0rem;
        position: relative;
    }*/
   /* @media(max-width:99.8rem){
        html{
            font-size: 55%;
        }
    }
    @media(max-width:76.8rem){
        html{
            font-size: 45%;
        }
    }*/

