@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-xl;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

/*NAVBAR CSS*/
.Navbar {
  background-color: rgb(224, 223, 239);
  /* position: fixed; */
  width: 280px;
  height: 100%;
}

.logoname {
  float: left;
  padding: 15px;
}
.logo {
  background-color: white;
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
html {
  font-size: 62.5%;
}
.Navbar {
  background-color: rgb(224, 223, 239);
  position: fixed;
  width: 28rem;
  height: 100%;
}
body {
  background-color: white;
}
.logoname {
  float: left;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 16px;
}
.logo {
  height: 3rem;
  width: 3rem;
  float: left;
  margin-left: 3rem;
  margin-top: 2rem;
}

.Menubar {
  position: fixed;
  width: 28rem;
  height: 100%;
  margin-top: 10rem;
  margin-left: 1rem;
}
.Menubarlist {
  height: auto;
  width: 100%;
}
.menulist {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.menulist:hover {
  cursor: pointer;

  color: rgb(220, 143, 0);
}
.menulist #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.menulist #title {
  flex: 80%;
}
.menuname {
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 6%;
}
.gname {
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 6%;
}
.General {
  position: fixed;
  width: 28rem;
  height: 100%;
  margin-top: 48rem;
  margin-left: 1rem;
}
.generalist {
  height: auto;

  width: 100%;
}
.glist {
  width: 100%;
  height: 5rem;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.glist:hover {
  cursor: pointer;

  color: rgb(220, 143, 0);
}
.glist #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.glist #title {
  flex: 80%;
}
.footer {
  position: relative;
  bottom: 0rem;
}

.fname {
  margin-left: 8%;
  margin-top: 78rem;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.flogo {
  margin-left: 1rem;
  width: 13rem;
  height: 13rem;
  position: relative;
  bottom: 4rem;
}
.flogo1 {
  margin-left: 12rem;
  width: 17rem;
  height: 16.5rem;
  position: relative;
  bottom: 18.5rem;
}
p {
  margin-left: 1rem;
  font-size: 12px;
  position: relative;
  bottom: 24rem;
}
/*
     .flogo1{
        
        float: left;
        margin-bottom: 40rem;
        margin-left: 45%;
        position: relative;
        bottom: 0rem;
        left: 0rem;
        width: 16rem;
        height: 16rem;
        top:55.5rem;
        
     }
     .fname{
        float: left;
        margin-left:0rem;
        bottom: 0rem;
        left: 0rem;
        position:relative;
        top:68rem;
        font-size: 1.6rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p{
        margin-left: 6%;
        bottom:0rem;
        margin-bottom: 4.0rem;
        position: relative;
    }*/
@media (max-width: 99.8rem) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 76.8rem) {
  html {
    font-size: 45%;
  }
}

.Menubar {
  position: fixed;
  width: 280px;
  height: 100%;
  margin-top: 100px;
  margin-left: 10px;
}
.Menubarlist {
  height: auto;
  width: 100%;
}
.menulist {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menulist:hover {
  cursor: pointer;

  color: rgb(220, 143, 0);
}
.menulist #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.menulist #title {
  flex: 80%;
}
.menuname {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 15%;
}
.gname {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 15%;
}
.General {
  position: fixed;
  width: 280px;
  height: 100%;
  margin-top: 480px;
}
.generalist {
  height: auto;

  width: 100%;
}
.glist {
  width: 100%;
  height: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.glist:hover {
  cursor: pointer;

  color: rgb(220, 143, 0);
}
.glist #icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.glist #title {
  flex: 80%;
}

.flogo {
  float: left;

  height: 50px;
  margin-left: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 130px;
  height: 130px;
  margin-bottom: 75px;
  overflow: hidden;
}
.flogo1 {
  float: left;
  margin-bottom: 60px;
  margin-left: 45%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 160px;
  height: 160px;

  overflow: hidden;
}
.fname {
  float: left;
  margin-bottom: 180px;
  margin-left: 15%;
  bottom: 0px;
  left: 0px;
  position: absolute;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* FIXME: use spectific class-name or id instead tags  */
/* p {
  margin-left: 6%;
  bottom: 0px;
  margin-bottom: 40px;
  position: absolute;
} */
